[DB]
HOST = 0.0.0.0
NAME = db
USER = user
PASSWORD = pwd
PORT = 3306
CHARSET = utf8mb4
TABLE_GYM = gym
TABLE_GYM_ID = id
TABLE_GYM_NAME = name
TABLE_GYM_IMAGE = url
TABLE_POKESTOP = pokestop
TABLE_POKESTOP_ID = id
TABLE_POKESTOP_NAME = name
TABLE_POKESTOP_IMAGE = url

[Ingress]
COOKIES = long_string_copied_from_browser
USERNAME = gmail_username_without_@gmail.com
PASSWORD = gmail_pwd

[Area]
BBOX = 0.00,0.00,0.00,0.00

[Other]
ENCODING = utf-8